manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
  nextflowVersion = '>= 20.01.0'
}

process {
  container = 'santiagomillan/tfg_pipeline@sha256:6f5a5ea53a6981be082ba55192f7d50e1ebef028ee07a1e3ea91b2f7599fa615'
}

profiles {
  s3test {
    params.reads = "s3://cbcrg-eu/ggal/*_{1,2}.fq"
    params.annot = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.bed.gff"
    params.genome = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
  }
}
